.feed {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tweet {
  border-bottom: solid 1px #60265B;
  width: 560px;
}

.icon_trash {
  height: 20px;
  cursor: pointer;
}

.icon_heart {
  height: 15px;
  cursor: pointer;
}