.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tweet {
  border-bottom: solid 2px #60265B;
  width: var(--body__width);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #FFFFFF;
}

.tweet * {
  margin: 5px 0;
}

.tweet_data {
  width: 480px;
  text-align: left;
  vertical-align: middle;
}

.tweet_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_trash {
  height: 20px;
  cursor: pointer;
}

.icon_heart {
  height: 15px;
  cursor: pointer;
}

.username_photo {
  border: solid 3px;
  object-fit: cover;
  width: 70px;
  border-radius: 45px;
}