.tweeter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: var(--body__width);
}

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.username_photo {
  border: solid 3px;
  object-fit: cover;
  width: 70px;
  border-radius: 45px;
  margin-right: 20px;
}

textarea {
  width: 480px;
  background-color: #2F112D;
  color: #914D8B;
  padding: 10px;
}

.letter_counter {
  color: white;
}

.letter_max {
  color: #F50D5A;
}

.letters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
}

.tweeter button {
  height: 35px;
  width: 102px;
  font-family: silkscreen;
  background-color: #2F112D;
  cursor: pointer;
}