@font-face {
  font-family: 'silks';
  src: './fonts/slkscr.ttf';
  font-weight: normal;
  font-style: normal;
}

:root {
  --header__width: 350px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: 0px white solid;
}

body {
  background-color: #2E132C;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  color: white;
  font-family: 'silks';
}

h2 {
  color: white;
  font-family: "fira code";
}

.box {
  height: 260px;
  width: var(--header__width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin: 50px;
}

.logo {
  height: 80%;
}

em {
  color: red;
  font-style: normal;
}

@media screen and (max-width: 780px) {
  header {
    display: flex;
    flex-direction: column;
  }
}