nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  background-color: #2F112D;
  width: var(--header__width);
}

.user_photo {
  width: 45px;
  object-fit: cover;
  border-radius: 25px;
  border: 3px solid yellow;
}

.min_logo {
  width: 8%;
}

.min_logo_name {
  width: 30%;
}

.button_logout {
  width: 116px;
  height: 35px;
  background-color: #F50D5A;
  cursor: pointer;
}